
*.vspscc
*.vssscc
*.user
*.suo
*.gpState
*.resharper
Thumbs.db
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

_ReferenceDataManager/ReferenceDataManager.Web/Scripts/lib
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.dotCover
.svn/

packages/*
!repositories.config
UpgradeLog*.*
Backup/
_UpgradeReport_Files/
_NCrunch_*
*.crunchsolution.cache
*.ncrunchsolution
!/tools/NAnt-0.91-alpha2/bin
!/tools/nantcontrib-0.92-bin/bin
!/packages/repository.config
!/packages/Composable.*
*.ncrunchproject
