<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <configSections>
    </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="metadataServiceExtension">
                    <metadataService metadataUrl="wsdl" rootMetadataFileLocation="C:\Users\xushiling\Documents\GitHub\CPS\HtmlAgilityPackTool\HtmlAgilityPackTool.WCFService\MockService.wsdl" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_MockServiceInterface" />
            </basicHttpBinding>
        </bindings>
        <extensions>
            <behaviorExtensions>
                <add name="metadataService" type="Thinktecture.ServiceModel.Extensions.Metadata.StaticMetadataBehaviorElement, Thinktecture.ServiceModel.Extensions.Metadata, Version=1.0.13.0, Culture=neutral, PublicKeyToken=20fb7cabbfb92df4" />
            </behaviorExtensions>
        </extensions>
        <services>
            <service behaviorConfiguration="metadataServiceExtension" name="HtmlAgilityPackTool.WCFService.MockService" />
        </services>
    </system.serviceModel>
</configuration>