<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-HtmlAgilityPack.Tool.Web-20121109095440;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-HtmlAgilityPack.Tool.Web-20121109095440.mdf" providerName="System.Data.SqlClient" />
    <add name="MokoEntities" connectionString="metadata=res://*/MokoEntity.csdl|res://*/MokoEntity.ssdl|res://*/MokoEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=XUSHILING-PC;initial catalog=Moko;user id=sa;password=abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!-- Set up the contract -->
      <register type="HtmlAgilityPackTool.WCFService.IMokoService, HtmlAgilityPackTool.WCFService" mapTo="HtmlAgilityPackTool.WCFService.MokoService, HtmlAgilityPackTool.WCFService"/>
    </container>
  </unity>
  <system.serviceModel>
    <services>
      <service name="HtmlAgilityPackTool.WCFService.MokoService">
        <endpoint address="http://192.168.1.112:9836/MokoService" 
                  binding="wsHttpBinding" 
                  contract="HtmlAgilityPackTool.WCFService.IMokoService"/>                
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
   <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" defaultOutgoingResponseFormat="Json" />
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
